/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: sans-serif;
  position: relative;
}

.section-main {
  background-color: whitesmoke;
}

input[type=text], input[type=password] {
    height: 32px;
    width: 192px;
    margin: 8px 8px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0 transparent inset;
    color: #333333;
    line-height: normal;
    vertical-align: top;
    font: inherit;
    padding-left: 2rem;
    text-align: start;
    padding: 8px 40px 8px 32px;
}

button {
  color: #757575;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1rem;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  min-width: 50px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0;
  box-shadow: none;
  outline: 0;
  height: 32px;
  align-self: center;
}
