.collections-index-article-index-item {
  height: 20px;
}

ul.collection-index-article-index {
  height: auto;
}

li.collections-index-article-index-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 31px;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid rgba(239, 239, 239, 0.8);
}

li.collections-index-article-index-item:hover{
  background-color: #EEEFEF;
}

li.collections-index-article-index-item > div {
  height: 31px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-right: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  line-height: 31px;
  display: inline-block;
}

div.collection-name {
  margin-bottom: 16px;
}

li.collections-index-article-index-item button.bookmark {
  display: block;
  height: 31px;
  width: 24px;
  border: none;
}

li.collections-index-article-index-item button.bookmark i {
  opacity: 0.6;
  color: #636363;
  font-weight: normal;
  font-size: 20px;
}

li.collections-index-article-index-item button.bookmark.collections-index-article-index-item-bookmarked i {
  color: green;
}

.collections-index-article-index-item-feed-name {
  max-width: 100px;
  min-width: 100px;
  text-overflow: ellipsis;
  // flex-grow: 2;
}

li.collections-index-article-index-item > div.collections-index-article-index-item-headline {
  margin-right: 20px;
  width: auto;
  font-weight: bold;
  white-space: nowrap;
  flex-shrink: 0;
}

li.collections-index-article-index-item > div.collections-index-article-index-item-short-summary {
  flex-shrink: 1;
  text-overflow: ellipsis;
}

li.collections-index-article-index-item > div > span {
  max-height: 31px;
  text-overflow: ellipsis;
}

.expanded-article-show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 0 15px;
}

.close-article-show-arrow {
  cursor: pointer;
}
.expanded-article-show-header {
  width: auto;
  max-width: 647px;
  height: 115px;
  padding-top: 15px;
}

.expanded-article-show-headline {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: bold;
}

.expanded-article-show-byline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expanded-article-show-byline h6 {
  color: rgb(158, 158, 158);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  font-weight: normal;
  margin: 10px 0;
}

.expanded-article-show-byline button {
  padding: 0;
  min-width: 25px;
  margin-left: 23px;
  border: none;
}

.mark-as-read {
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 2px;
  margin-left: 15px;
  cursor: pointer;
  font-weight: normal;
  color: rgb(158, 158, 158);
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px;
}

.mark-as-read:hover {
  color: rgb(100, 100, 100);
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.expanded-article-show-byline button.collections-index-article-index-item-bookmarked i {
  color: green;
}

.expanded-article-show-byline button i {
  font-size: 18px;
}

.expanded-article-show-image {
  max-width: 580px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(239, 239, 239);
}

.expanded-article-show-summary-content {
  width: auto;
  max-width: 647px;
  height: auto;
  padding: 20px 0;
  font-size: 15px;
  word-break: break-word;
  cursor: auto;
  line-height: 25px;
}

.expanded-article-show-visit-website button {
  text-transform: uppercase;
  width: 647px;
  height: 40px;
  color: rgb(117, 117, 117);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expanded-article-show-visit-website {
  min-height: 40px;
  min-width: 647px;
}
