.collection-index-sidebar-open, .collection-index-sidebar-closed {
  background: #FCF5F5;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  width: 100%;
}

.collection-index-sidebar-open {
  left: 268px;
  width: 80%;
}

.collection-index-sidebar-closed {
  left: 60px;
  width: 90%;
}

.collection-index-loaded {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}

.today-header {
  padding: 20px;
  padding-left: 37px;
  color: #333333;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;
}

.collection-index-item {
  width: 100%;
  padding: 20px;
  height: auto;
}

.collection-name {
  color: rgb(117, 117, 117);
  font-size: 0.75rem;
  line-height: 1em;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}
