.discover-sidebar-open, .discover-sidebar-closed {
  background: #FCF5F5;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-sidebar-open {
  left: 268px;
}

.discover-sidebar-closed {
  left: 60px;
}

.discover-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 70%;
  margin-bottom: 50px;
}

.discover-header-wrapper {
  margin: 70px 0 30px 20px;
  width: 100%;
}

.discover-header {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(117, 117, 117);
}

.discover-search-input-wrapper {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 15px;
}

#discover-search-input {
  position: relative;
  width: 80%;
  align-self: left;
  text-align: start;
  padding-left: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: normal;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  height: 56px;
  background-image: url()
}

.discover-search-input-wrapper i {
  position: absolute;
  top: 154px;
  left: 247px;
  font-size: 26px;
  color: rgb(51, 51, 51);

}

.search-results-table-header {
  width: 100%;

}

h1.discover-search-results-header {
  text-align: left;
  color: #757575;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  margin-left: 20px;
}

.search-results-table {
  width: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.discover-feed-row {
  display: flex;
  justify-content: space-between;
  max-width: 624px;
  min-height: 60px;
  align-items: center;
}

.discover-feed-row-image-title-wrapper {
  display: flex;
  align-items: center;
}

.discover-feed-row-image {
  display: flex;
  align-items: center;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.discover-feed-row-title {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.discover-feed-is-followed, .discover-feed-is-not-followed {
  display: flex;
  align-items: center;
  height: 24px;
  font-weight: 700;
  font-size: 11px;
  line-height: 1rem;
  padding: 4px 7px 2px 7px;
  border-radius: 3px;
  min-width: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.discover-feed-is-followed {
  color: #757575;
  border: 1px solid #757575;
}


.discover-feed-is-followed:hover {
  color: #636363;
  border: 1px solid #636363;
}

.discover-feed-is-followed .yes-hover {
  display: none;
}

.discover-feed-is-followed:hover .yes-hover {
  display: block;
}

.discover-feed-is-followed:hover .no-hover {
  display: none;
}

.follow-unfollow-button {
  position: relative;
  min-width: 84px;
  max-width: 84px;
}

.edit-not-follow .Dropdown-placeholder {
  border: 1px solid #2bb24c;
  color: #2bb24c;
}

.edit-not-follow .Dropdown-root {
  width: 100%;
  margin-left: 0;
}

.edit-not-follow .Dropdown-placeholder:hover {
  border: 1px solid #13772D;
  color: #13772D;
}

.edit-not-follow .Dropdown-root.is-open .Dropdown-menu {
  position: absolute;
  top: 10px;
  left: 150px;
  z-index: 9999;
  width: 100%;
}

.edit-not-follow .Dropdown-option {
  background-color: whitesmoke;
}

.edit-not-follow .Dropdown-option:hover {
  background-color: #d2e4ad;
}

.edit-not-follow .Dropdown-menu {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.discover-feed-row:last-of-type {
  margin-bottom: 200px;
}
