.header-main {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 9000;
}

.header-logged-out {
  left: 0;
}

.header-sidebar-open {
  left: 268px;
}

.header-sidebar-closed {
  left: 60px;
}

.header-nav-items {
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-logged-out .header-nav-items {
  justify-content: space-around;
}

.header-sidebar-open .header-nav-items, .header-sidebar-closed .header-nav-items {
  justify-content: space-between;
  padding: 0 20px;
}

.nav-home-link h1 {
  font-weight: bold;
  font-size: 26px;
  color: gray;
}

.nav-home-link {
  display: flex;
  align-items: center;
}

.nav-logged-out-greeting, .nav-logged-in-greeting {
  display: flex;
  align-items: center;
}

.welcome-greeting {
  text-align: center;
  color: gray;
  padding-right: 10px;
}

.signin-login-link {
  display: flex;
}

.signin-login-link h3 {
  font-weight: 700;
  color: gray;
  margin: 0 10px;
  font-size: 12px;
  line-height: 1rem;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.icon-div {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.icon-div i {
  color: gray;
}
