.organize-sources-wrapper-sidebar-open, .organize-sources-wrapper-sidebar-closed {
  background: #FCF5F5;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  width: 100%;
}

.organize-sources-header {
  min-height: 400px;
  min-width: 400px;
  background-color: blue;
}
