.organize-sources-sidebar-open, .organize-sources-sidebar-closed {
  background: #FCF5F5;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organize-sources-sidebar-open {
  left: 268px;
  width: 80%;
}

.organize-sources-sidebar-closed {
  left: 60px;
  width: 90%;
}

.organize-sources-wrapper {
  height: auto;
  position: relative;
}

.edit-collections-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  right: 65px;
}

.add-new-collection {
  padding: 5px 7px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  background-color: white;
  color: #757575;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 13px;
  line-height: 39px;
}

.add-new-collection-bottom-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-new-collection-button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  background-color: rgb(210, 228, 173);
  font-size: 10px;
  text-align: center;
  vertical-align: center;
  text-transform: none;
  line-height: 20px;
}

.add-new-collection-button:hover {
  background-color: #96C1A1;
  color: white;
}

.Dropdown-root {
  color: #757575;
  font-size: 11px;
  text-transform: uppercase;
  width: 150px;
  max-width: 150px;
  text-align: center;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  margin-left: 10px;
}

.Dropdown-menu {
  height: 206px;
  overflow: scroll;
}

.Dropdown-placeholder {
  border: 1px solid rgba(0, 0, 0, 0.17);
  // border-top-right-radius: 4px;
  // border-top-left-radius: 4px;
  border-radius: 4px;
}

.Dropdown-option {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  border-left: 1px solid rgba(0, 0, 0, 0.17);
  border-right: 1px solid rgba(0, 0, 0, 0.17);
}

.Dropdown-option:hover {
  background-color: rgb(210, 228, 173);
}

.Dropdown-option, .Dropdown-placeholder {
  height: 25px;
  line-height: 25px;
  min-height: 25px;
}

.Dropdown-option:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.Dropdown-option:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.organize-sources-header {
  color: rgb(51, 51, 51);
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
  // background-color: lightblue;
  width: 900px;
  margin-top: 20px;
  height: 150px;
}

.organize-sources-header h2 {
  color: rgb(117, 117, 117);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 10px;
}

.organize-sources-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.organize-sources-buttons {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  align-items: center;
}

.organize-sources-buttons div {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  color: #757575;
  line-height: 1rem;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: center;
}

.organize-sources-source-name {
  color: #757575;
  font-size: 11px;
  line-height: 1rem;
  text-transform: uppercase;
  margin-left: 10px;
}

.organize-sources-buttons div:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.organize-sources-edit-sources-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  width: 100%;
}

.filter-sources {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}




.organize-sources-table-row {
  display: flex;
  padding: 7px 10px;
  height: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  align-items: center;
}

// .organize-sources-table-row:last-of-type {
//   border-bottom: none;
// }

.organize-sources-table-row input {
  margin-right: 11px;
}

.organize-sources-table-row div img {
  padding-right: 11px;
  max-height: 18px;
  max-width: 18px;
}

.organize-sources-table-row-title {
  font-size: 0.875rem;
  line-height: 1.33;
  color: #333333;
  font-weight: bold;
}
