.organize-sources-sidebar-open, .organize-sources-sidebar-closed {
  background: #FCF5F5;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organize-sources-sidebar-open {
  left: 268px;
}

.organize-sources-sidebar-closed {
  left: 60px;
}

.organize-sources-wrapper {
  height: auto;
  background-color: lightgreen;
}
.organize-sources-header {
  color: rgb(51, 51, 51);
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
  background-color: lightblue;
  width: 900px;
  margin-top: 50px;
  height: 150px;
}

.organize-sources-header h2 {
  color: rgb(117, 117, 117);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 10px;
}
