.session-form {
  background: white;
  border: 1px solid black;
  box-shadow: 1px 5px 3px black;
  border-radius: 5px;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1.0;
  margin-top: 100px;
}

.session-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form-header h1 {
  padding: 20px 20px 5px 20px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.session-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.session-form form div {
  height: inherit;
}

.session-form form label, .session-form form input {
  display: block;
}

.hidden-submit {
  height: 0;
  width: 0;
  display: none;
}
.session-form-submit-button {
  height: 100px;
}

.session-form-submit-button button {

}

.session-errors ul {
  list-style: none;
  padding: 10px 0;
}
.session-errors li {
  padding: 5px 0;
  color: red;
  font-size: 10px;
  text-align: center;
}
