.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 200px;
  height: auto;
  background-color: #d2e4ad;
  z-index: 9001;
  overflow: scroll;
}

.hide-sidebar-feed {
  display: none;
}

li.sidebar-category-name {
  background-color: blue;
}

li.feeds-list {
  background-color: pink;
}
