.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 268px;
  height: auto;
  background-color: #d2e4ad;
  z-index: 9001;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-hidden {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 42px;
  height: auto;
  background-color: #d2e4ad;
  z-index: 9001;
}

.sidebar {
  width: 100%;
}

.hide-sidebar-feed {
  display: none;
}

.open-sidebar-button {
  padding-top: 30px;
}

.open-sidebar-button button {
  border: none;
  color: black;
}

.open-sidebar-button button i {
  font-size: 24px;
}

.close-sidebar-button {
  margin-top: 3px;
  position: absolute;
  right: 0;
}

.close-sidebar-button button {
  border: none;
  padding-right: 3px;
}

.sidebar-content {
  width: 100%;
}

ul.sidebar-links {
  margin-top: 30px;
}

.sidebar-links li {
  color: rgba(0, 0, 0, 0.63);
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  text-align: left;
  vertical-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.sidebar-links li i {
  vertical-align: bottom;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  opacity: 0.6;
}

.sidebar-categories {
  width: 100%;
}


li.sidebar-category-feeds {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 11px;
  font-weight: normal;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.63);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.sidebar-icon-gear {
  margin-right: 15px;
}

.sidebar-icon-gear i {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.63);
}

li.sidebar-category-name, li.feeds-list {
  width: 100%;
  margin-left: 20px;
  line-height: 28px;
  vertical-align: bottom;
  color: rgba(0, 0, 0, 0.63);
  font-size: 13px;
  font-weight: bold;
}

li.sidebar-category-name {
  display: flex;
}

.sidebar-category-name a {
  line-height: 28px;
  height: inherit;
  display: block;
}

li.sidebar-category-name i {
  margin-right: 7px;
  margin-bottom: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.63);
  font-size: 20px;
  font-weight: normal;
}

.sidebar-favicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: center;
  margin-bottom: 6px;
  margin-right: 6px;
}

li.feeds-list {
  font-weight: normal;
  font-family: sans-serif;
}

.es-links {
  color: rgb(117, 117, 117);
  margin-bottom: 17px;
}

.icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
